
.dog-detail-section-1-main{
    padding-top: 80px;
    color: black;
    width: 100%;
}
.dog-name-div-main{
    text-align: left;
    margin-bottom: 40px; 
}
.dog-name-text{
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 15px;
}
.dog-image-box-child{
    position: relative;
    margin-bottom: 32px;
}
.like-dislike-main{
    background-color: #fff;
    right: 16px;
    bottom: 21px;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    width: 43px;
    height: 43px;
}
.dropdown-main{
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.mui-select>select{
    border-bottom: none !important;
    font-weight: 500 !important;
}
.mui-select{
    padding-top: 0px !important;
}
.dog-info-tab-parent{
    min-height: 435px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(224, 219, 213) !important;
}
.tab-div{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 21px;
    min-height: 120px;
    text-align: center;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    /* border-top: 6px solid rgb(219, 94, 30);*/
    background-color: #efe9e4; 
}
.tab-div-open{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 21px;
    min-height: 120px;
    text-align: center;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    border-top: 6px solid rgb(219, 94, 30);
    background-color: white; 
}
.tab-div-close{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 21px;
    min-height: 120px;
    text-align: center;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    border-top: 0px;
    background-color: #efe9e4; 
}
.dog-right-bottom{
    display: flex;
    font-size: 15px;
    font-weight: 700;
    padding-top: 32px;
    justify-content: flex-start;
}
.heartIcon{
    width: 27px;
    height: 30px;
    margin-top: 7px;
    margin-left: 3px;
}
.dog-file{
    margin-right: 12px;
    margin-top: -2px;
    cursor: pointer;
}
.download-file{
    cursor: pointer;
}